@model HrHelper.Models.Recruitment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recruitment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SrartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndOfApplication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndOfApplication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post.PostName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RecruitmentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
